.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: min-content;
    align-self: center;
    padding-right: 3rem;
}

.pagination-container {
    width: 100%;
    justify-content: center;
}