.pokemonContainer {
  border: 2px solid black;
  padding: 0.65rem;
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
  align-self: center;
  width: 12rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.pokemonContainer:hover,
.pokemonContainer:active,
.pokemonContainer:focus,
.pokemonContainer:visited,
.pokemonContainer.selected {
    border-color: var(--blue);
}