.container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    align-self: center;
    padding-top: 3rem;
    flex-wrap: wrap;
    align-items: start;
}

.column {
    /* flex: 1; */
    max-width: 40%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.pokemon-view-container {
    align-self: center;
    max-width: 85%;
    width: 100%;
    padding: 1rem;
}

.picture-container {
    background-color: var(--dark-red);
    border-radius: 2%;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
}

.pokemon-picture {
    width: 100%;
    max-width: 100%;
    background-color: #f5f5dc;
    /* border-left: 6px solid var(--dark-red); */
    /* border-right: 6px solid var(--dark-red); */
}

.silhoute-image {
    justify-content: center;
    width: 50%;
}

.empty-pokemon-container {
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .container {
        gap: 1rem
    }
}

@media (max-width: 992px) {
    .column {
        max-width: 90%;
    }

    .container {
        align-items: start;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
        padding-top: 4rem;
    }
}

@media (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
    }
}